<h3>Короткий опис проєкту </h3>
<br/>
Викладачі часто кажуть, що вони знають, кому що треба ставити, задовго до іспиту.
Цей проєкт спрямований на те, щоб формалізувати та алгоритмізувати ці суб'єктивні уявлення.
Пропонується алгоритм, який на основі поточної роботи студента дозволяє
автоматично розраховувати рекомендовану оцінку. Ця автоматично виставлена оцінка може бути
підтверджена або не підтверджена під час заліку/іспиту.

<br/><br/>
<a href="/algorithm">Подивитися алгоритм</a>
<br/><br/>

Це дуже проста початкова версія. Алгоритм буде змінюватися. Передбачається, зокрема,
врахування успіхів студентів з окремих тем, а також модифікація самої системи
оцінювання.

<br/><br/>

Планується також підключення системи до
інформаційних джерел - зокрема, до сервера дистанційного навчання на основі
Moodle.
<br/><br/>
Якщо студент
вважає, що ця рекомендована оцінка вища або нижча, ніж те, на що він заслуговуєте -
у нього є шанс змінити ситуацію при здачі наступних завдань, на фінальному тесті та на
остаточному опитуванні.

<br/><br/>
<a href="https://github.com/oletsky/superavtomat">Код проєкту</a>