<h3>Алгоритм оцінювання</h3>
<br/>
Рекомендована оцінка розраховується на основі наступних факторів;
<ul>
    <li> поточна сума оцінок за семестр;</li>
    <li> оцінка за тест;</li>
    <li> карма - неформальна оцінка, яка відображає суб'єктивне враження від Вашої роботи;
    змінюється від 0 до 100;
    </li>
    <li> параметр дисконту - суб'єктивний параметр, який відображає те, що
    автоматично розрахована оцінка в переважній більшості випадків є нижчою за ту,
        яку студент міг би отримати, якби продовжував здавати завдання.
    </li>
</ul>
<br/>
Розрахунок здійснюється за формулою:
<br/><br/>
<strong>
<i>
    Оцінка = Бали + (Бали/Поточний максимум)*Залишок*(Карма*0.01)*Дисконт
</i>
</strong>
<br/><br/>
Залишок дорівнює 40, якщо студент ще не писав тест і 10, якщо писав.
<br/><br/>
В перспективі алгоритм може змінюватися.
<br/><br/>
Якщо Ви
вважаєте, що ця рекомендована оцінка вища або нижча, ніж те, на що Ви заслуговуєте -
у Вас є шанс змінити ситуацію при здачі наступних завдань, на фінальному тесті та на
остаточному опитуванні.

<br/>

Успіху!