<h3>Дізнайтесь про своє майбутнє!</h3>
<br/>
Введіть суму оцінок, отриманих за семестр, значення Вашої карми (неформальна оцінка Вашої
роботи, отримана від викладача) та подивіться рекомендовану загальну оцінку. Ця рекомендована оцінка
автоматично розраховується за деяким евристичним алгоритмом.
<br/><br/>
<a href="/algorithm">Подивитися алгоритм</a>
<br/><br/>
Якщо Ви
вважаєте, що ця рекомендована оцінка вища або нижча, ніж те, на що Ви заслуговуєте -
у Вас є шанс змінити ситуацію при здачі наступних завдань, на фінальному тесті та на
остаточному опитуванні.

<br/>

Успіху!